.landing__new-page {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #f0f2f5;
  align-items: center;
}

.landing__new-page .container .content .image__icon img {
  filter: invert();
  width: 18px;
}

.landing__new-page .container .content .image__icon {
  min-width: 36px;
  height: 36px;
  background-color: #1877f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__new-page .container .text p {
  font-size: 15px;
  color: #65676b;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.header__landing-new {
  padding: 14px 26px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.landing__new-page .container .text h2 {
  line-height: 30px;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
}

.landing__new-page .container .content {
  display: flex;
  text-align: left;
  gap: 12px;
  background-color: #f7f8fa;
  border-radius: 12px;
  padding: 12px 18px;
}

.landing__new-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  padding: 20px;
  width: 584px;
  background-color: #ffffff;
}

.landing__new-page .container p {
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
}

.landing__new-page h2 {
  font-weight: 700;
  font-size: 24px;
  margin: 32px 0 8px 0;
  line-height: 28px;
  color: #050505;
}

.random__image {
  width: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

.take__through {
  margin-top: 30px;
  width: 100%;
  text-align: left;
}

.landing__new-page .container .take__through p {
  font-size: 16px;
}

.take__get-started {
  width: 100%;
}

.take__get-started button {
  background: #1877f2;
  border-radius: 10px;
  width: 100%;
  border: none;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  color: #ffffff;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 7px 0;
}

@media (max-width: 768px) {
  .landing__new-page {
    width: 100%;
    padding: 0;
    background-color: #ffffff;
    align-items: flex-start;
  }

  .landing__new-page h2 {
    line-height: 30px;
    font-size: 24px;
    margin-bottom: 6px;
  }

  .landing__new-page .container p {
    font-size: 17px;
    line-height: 20px;
  }

  .landing__new-page .container .text h2 {
    line-height: 19px;
    font-size: 15px;
    font-weight: 700;
  }

  .random__image {
    width: 40%;
  }

  .landing__new-page .container .text p {
    font-size: 14px;
    color: #050505;
    line-height: 17px;
  }

  .landing__new-page .container {
    padding: 16px;
    box-shadow: none;
    justify-content: flex-start;
    padding-top: 50px;
  }
  .landing__new-page .container .take__through p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #050505;
  }

  .header__show-landingpage {
    display: block;
  }

  .flex-desktop-header h2 {
    display: none;
  }

  .header__show-landingpage .input-button-desktop {
    display: none;
  }

  .take__get-started {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
  }

  .take__get-started button {
    width: 94%;
  }
}
