.calendar__wrapper {
  padding-top: 28px;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  padding: 40px 100px 0 100px;
  height: 700px;
  justify-content: center;
}

.date__time {
  border: 1px solid rgba(77, 80, 85, 0.1);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 1px 8px 0 rgb(0 0 0/8%);
  padding: 28px 2px 0px 19px;
  position: relative;
}

.date__time h2 {
  font-size: 20px;
  line-height: 30px;
  color: #1a1a1a;
  font-weight: 700;
}

.user__wrapper {
  border: 1px solid rgba(77, 80, 85, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 1px 8px 0 rgb(0 0 0/8%);
  padding: 25px 0 0px 0;
  width: 30%;
  border-right: none;
  padding-bottom: 100px;
  position: relative;
}

.user__wrapper p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(26, 26, 26, 0.61);
  margin: 0;
}

.user__wrapper h2 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  color: #1a1a1a;
  margin: 0 0 24px 0;
}

.user__wrapper .minute {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user__wrapper span {
  font-weight: 700;
  font-size: 16px;
  color: rgba(26, 26, 26, 0.61);
  line-height: 24px;
}
.user__wrapper svg {
  color: rgba(26, 26, 26, 0.61);
}

.calendar__container {
  display: flex;
  gap: 24px;
}

.button__time-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 212px;
}

.button__time-wrapper button {
  border: 1px solid rgba(0, 162, 255, 0.5);
  width: 100%;
  vertical-align: top;
  padding: 13px 10px;
  border-radius: 4px;
  font-weight: 700;
  transition: all 0.3s ease;
  transition-property: width, transform;
  background-color: transparent;
  color: #0069ff;
  cursor: pointer;
  min-height: 52px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next__button .green__text {
  display: none;
}

.button__time-wrapper .green__text {
  position: relative;
  right: 12px;
}

.button__time-wrapper .time:hover {
  border: 2px solid rgba(0, 162, 255, 0.5);
}

.button__time-wrapper {
  height: 480px;
  overflow-y: scroll;
  padding-right: 10px;
}

.next__button {
  display: flex;
  gap: 10px;
  transition: all 1s ease-out;
}

.next__button button,
.next__button > div {
  width: 50%;
}

.next__button > div button {
  width: 100%;
}

.next__button button:first-child {
  background-color: rgb(0 0 0/60%);
  color: #ffffff;
  border: none;
}

.next__button button:first-child:hover {
  border: none;
}

.next__button button:last-child {
  background-color: #00a2ff;
  color: #ffffff;
}

.react-calendar {
  border: none !important;
  width: 390px !important;
  padding-bottom: 10px;
  padding-right: 17px;
}

.react-calendar__month-view__weekdays__weekday {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: #4d5055;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day
  abbr {
  width: 44px;
  height: 44px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  position: relative;
  top: -10px;
  background-color: #0069ff;
}

.react-calendar__tile {
  width: 52px !important;
  height: 44px !important;
  font-size: 16px !important;
  color: #959699 !important;
}

.react-calendar__tile--active {
  border-radius: 50%;
  color: #ffffff !important;
  background: transparent !important;
}

.calendar__time {
  padding-top: 4px;
  padding-right: 40px;
}

.calendar__time h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  margin: 0;
  padding-bottom: 10px;
}
.react-calendar__navigation__label {
  font-size: 16px;
  flex-grow: unset !important;
}

.box__shadow svg {
  width: 22px;
  height: 22px;
  color: #00a2ff;
}
.arrow {
  background-color: #f5faff;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button,
button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation {
  justify-content: center;
  gap: 20px;
}

button.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  background: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: transparent !important;
}

.form__wrapper.date__time {
  width: 50%;
}

.form__wrapper form > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 20px;
}

.form__wrapper input {
  width: 62%;
  border: 1px solid #b2b2b2;
  height: 46px;
  border-radius: 8px;
  padding-left: 14px;
}

.form__wrapper label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #1a1a1a;
  line-height: 21px;
}

.form__wrapper .submit {
  background-color: #0069ff;
  width: 146px;
  height: 44px;
  border-radius: 40px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  margin-top: 10px;
  border: none;
}

.add__guests {
  border: 1px solid #0069ff;
  width: 98px;
  height: 32px;
  color: #0066e5;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  box-shadow: none;
  border-radius: 40px;
}

button {
  cursor: pointer;
}

.form__wrapper form p {
  font-size: 12px;
  color: red;
  margin: 0;
}

.space__bettwen {
  margin-top: 14px;
}

.react-calendar__tile--now {
  background-color: transparent !important;
}

.back__svg {
  position: absolute;
  left: -3px;
  cursor: pointer;
  top: 30px;
  left: 30px;
}

.back__svg svg {
  width: 46px;
  height: 46px;
}

.logo__wrapper {
  text-align: center;
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(77, 80, 85, 0.1);
}

.minute {
  padding: 0 30px 0px 30px;
}

.content__wrapper {
  padding: 25px 30px 0px 30px;
}

.mt-12 {
  margin-top: 14px;
}

.center__text {
  height: 82%;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.footer__wrapper p:first-child {
  color: #0069ff;
  font-size: 14px;
  font-weight: 400;
}

.footer__wrapper p:last-child {
  font-size: 14px;
  font-weight: 400;
  color: #1a1a1a;
}

.time__zone-wrapper {
  padding-left: 12px;
}

.available__wrapper {
  padding: 8px 0px;
  border-radius: 4px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 212px;
  gap: 6px;
  margin-bottom: 20px;
}

.available__wrapper p {
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.green__text {
  background-color: #40d794;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.time__zone-wrapper p {
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 700;
  margin: 0 0 6px 0;
}

.central {
  font-weight: 400;
  color: #1a1a1a;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 8px;
}

.screen__three {
  width: 79%;
  text-align: center;
  padding: 30px 0;
  position: relative;
  border-radius: 8px;
}

input {
  font-size: 16px;
}

.thank__you-page .content__wrapper-page h2 {
  color: #1a1a1a;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 24px 0 10px 0;
}

.thank__you-page .content__wrapper-page h2 svg {
  color: #028164;
}

.thank__you-page .content__wrapper-page p {
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.meeting__information {
  width: 408px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
}
.thank__you-page .content__wrapper-page .meeting__information h2 {
  font-size: 20px;
  line-height: 24px;
  color: #1a1a1a;
  margin: 0 0 12px 0;
  justify-content: flex-start;
}

.meeting__information svg {
  color: rgba(26, 26, 26, 0.61);
  width: 20px;
  height: 20px;
}

.meeting__information span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(26, 26, 26, 0.61);
}

.meeting__information .minute {
  padding: 0;
  display: flex;
  gap: 8px;
}

.cookie__setting {
  color: #0069ff;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  bottom: 20px;
  left: 30px;
}

@media (min-width: 768px) {
  .hide__desktop,
  .footer__wrapper-mobile {
    display: none;
  }

  .logo__wrapper-calendly-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .form__wrapper.date__time > div:first-child {
    padding: 0 10px;
  }

  .form__wrapper.date__time button {
    width: 100%;
  }

  .hide__mobile {
    display: none;
  }
  button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day
    abbr {
    left: -5px;
  }
  .calendar__wrapper {
    flex-direction: column;
    padding: 0;
    height: auto;
    margin-bottom: 30px;
  }

  .user__wrapper {
    width: 100%;
    text-align: center;
    padding: 0;
    padding-bottom: 60px;
    box-shadow: none;
  }
  .user__wrapper p {
    padding-top: 20px;
  }

  .user__wrapper .minute {
    padding-left: 30px;
  }

  .react-calendar {
    width: 100% !important;
    padding: 0;
  }
  .date__time {
    box-shadow: none;
    border: none;
    text-align: center;
    padding: 0 20px;
  }

  .calendar__wrapper .date__time h2 {
    text-align: center;
  }

  .mobile__version .calendar__date {
    display: none;
  }

  .calendar__time {
    width: 100%;
    padding-right: 0;
  }

  .button__time-wrapper {
    height: auto;
    width: 100%;
    padding: 0;
    margin-bottom: 0px;
  }

  .button__time-wrapper button {
    width: 100%;
  }

  .form__wrapper.date__time {
    width: 100%;
  }

  .form__wrapper input {
    width: 94%;
  }

  .form__wrapper.date__time {
    padding: 0;
  }

  .space__top {
    padding-top: 20px;
  }

  .date__time form {
    padding: 0 20px;
  }

  .form__wrapper label {
    text-align: left;
  }

  .add__guests {
    width: 100%;
  }

  .form__wrapper .submit {
    width: 100%;
  }

  .form__wrapper.date__time h2 {
    text-align: left;
    padding-left: 20px;
  }

  .full__width {
    width: 100%;
  }

  .next__button button {
    width: 50%;
  }

  .mobile__back-svg {
    display: flex;
    align-items: center;
    padding-left: 0px;
    justify-content: center;
  }

  .mobile__back-svg .back__svg {
    margin: 0;
    padding-right: 20px;
  }

  .form__wrapper form > div {
    gap: 8px;
  }

  .add__guests {
    position: relative;
    top: -8px;
  }

  .svg__icon .full__width {
    display: none;
  }

  .form__wrapper form p {
    text-align: left;
  }

  .logo__wrapper {
    height: 60px;
  }

  .logo__wrapper img {
    width: 120px;
  }

  .time__zone-wrapper p {
    text-align: left;
  }

  .time__zone-wrapper {
    padding-left: 4px;
  }

  .footer__wrapper {
    display: none;
  }

  .back__svg {
    top: 8px;
    left: 8px;
  }

  .available__wrapper {
    width: 100%;
  }

  .calendar__wrapper .date__time h2 {
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 0;
    text-align: center;
  }

  .footer__wrapper.footer__wrapper-mobile {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 20px;
  }

  .footer__wrapper.footer__wrapper-mobile.footer__wrapper-contact {
    padding: 0 20px;
  }

  .screen__two .minute {
    padding-left: 16px;
  }

  .meeting__information {
    width: 100%;
    padding: 0;
  }

  .screen__three {
    width: 100%;
    padding: 0;
  }

  .meeting__information .minute:first-child {
    padding-top: 20px;
  }

  .meeting__information .minute:last-child {
    padding-bottom: 20px;
  }

  .meeting__information .minute {
    padding-left: 20px;
    padding-right: 20px;
  }

  .thank__you-page .content__wrapper-page .meeting__information h2 {
    padding: 20px 20px 0 20px;
  }

  .thank__you-page {
    padding: 30px 15px 30px 15px;
  }

  .cookie__setting {
    position: unset;
    margin-top: 50px;
  }
}

.loader {
  width: 28px;
  height: 28px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo__wrapper-calendly {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 1;
  overflow: hidden;
  width: 105px;
  height: 105px;
  text-decoration: none;
  pointer-events: none;
  transition: all 0.1s ease-in;
  will-change: transform;
}

.logo__wrapper-calendly .background {
  position: relative;
  top: 21px;
  left: -11px;
  z-index: 1;
  display: block;
  width: 160px;
  padding: 9px 0 6px;
  background-color: #505960;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0/20%);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  pointer-events: auto;
  transition: all 0.1s ease-in;
  transform: rotate(45deg);
}

.logo__wrapper-calendly::before {
  top: 0;
  left: 0;
}

.logo__wrapper-calendly::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #505960;
  transition: all 0.1s ease-in;
}

.logo__wrapper-calendly::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #505960;
  transition: all 0.1s ease-in;
  right: 0;
  bottom: 0;
}

.logo__wrapper-calendly .powerd__by {
  font-size: 8px;
}

.logo__wrapper-calendly .calendly {
  font-size: 14px;
}

.logo__wrapper-calendly-mobile {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 105px;
  height: 105px;
  text-decoration: none;
  pointer-events: none;
  transition: all 0.1s ease-in;
  will-change: transform;
}

.logo__wrapper-calendly-mobile .background {
  top: 15px;
  position: relative;
  left: -5px;
  display: block;
  width: 160px;
  padding: 9px 0 6px;
  background-color: #505960;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0/20%);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  pointer-events: auto;
  transition: all 0.1s ease-in;
  transform: rotate(45deg);
}

.logo__wrapper-calendly-mobile .powerd__by {
  font-size: 7px;
  margin-left: -7px;
}

.logo__wrapper-calendly-mobile .calendly {
  font-size: 14px;
  margin-left: -7px;
}

.facebook__button button {
  border: none;
  border-radius: 10px;
  background: #1877f2;
  /* width: 345px; */
  padding: 15px;
  color: #fff;
  display: flex;
  gap: 7px;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  /* line-height: normal; */
  align-items: center;
  justify-content: center;
  width: 300px;
}

.gmail__button button {
  border-radius: 10px;
  background: #fff;
  align-items: center;
  display: flex;
  gap: 7px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.17),
    0px 0px 3px 0px rgba(0, 0, 0, 0.08);
  font-family: Helvetica;
  padding: 15px;
  font-size: 16px;
  border: none;
  width: 300px;
  margin-top: 12px;
  justify-content: center;
}

.dummy__text {
  border: 1px solid rgba(77, 80, 85, 0.1);
  background-color: #fff8e8;
  padding: 0 12px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 12px;
  padding-top: 10px;
}

.avatar {
  border-radius: 50%;
}

.danger__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 40px;
  padding-left: 40px;
}

.react-calendar__navigation button:disabled {
  background-color: transparent !important;
}

.react-calendar__navigation button:disabled .arrow {
  opacity: 0.5;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.dashboard__wrapper
  ul.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-dark {
  justify-content: flex-end;
}

.dashboard__wrapper .ant-layout-header {
  padding: 0 !important;
}
